@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(51, 56, 58, 0.7);
    --background-pages: #262626;
    --foreground: 210 40% 98%;

    --muted: #202937;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: #0e172a;
    --card-foreground: 210 40% 98%;

    --border: #202937;
    --input: #202937;
    --sidebar: #0e172a;

    --primary: #a252c8;
    --primary-foreground: #f5f5f5;

    --secondary: #202937;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: #202937;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    background: rgb(32, 35, 41);
    color: white;
    font-family:  sans-serif;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .photo-cell {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
